body{
    padding: 0;
    margin: 0;
    background: rgb(10,1,175);
background: linear-gradient(90deg, rgba(10,1,175,1) 0%, rgba(50,138,187,1) 45%, rgba(18,46,156,1) 81%);
overflow-x: hidden;
}


.Kelompok4{
    margin-top: -32px;
    height: 50px;
  }
  .Kelompok4 h2{
    font-size: 4vh;
    text-align: center;
    font-family: "Open Sans", sans-serif, Georgia, Times, 'Times New Roman', serif;
    color: rgb(232, 255, 255);
    margin-top: 32px;
  }
  .anggota{
      background-color: rgb(28, 28, 133);
      width: 360px;
      height: 27VH;
      border-radius: 20px ;
      margin-left:63vh;
  }
  .anggota h2{
      color: rgb(232, 255, 255);
      font-family:"Open Sans", sans-serif, Georgia, Times, 'Times New Roman', serif ;
      text-align: center;
  }
  .anggota li{
      color: rgb(232, 255, 255);
      font-family: "Open Sans", sans-serif, Georgia, Times, 'Times New Roman', serif;
      margin-left: 10px;
      margin-top: 1px;
  }
  
  .gambar img{
      width: 90vh;
      margin-top: 8vh;
      margin-left: 355px;
      border-radius: 15px;
      box-shadow: 3px 3px 4px;
      position: relative;
     
  }
  .nama{
      background-color: black;
      border-radius: 10px;
      width: 360px;
      margin-left: 540px;
      position: relative;
      
     
  
  }
  .nama h1{
      margin-left: 20px;
      color: rgb(232, 255, 255) ;
  }
  
  .latarbelakang{
      background-color: rgb(28, 28, 133);
      width: 510px;
      margin-left: 50px;
      border-radius: 13px;
      position: relative;
     
  }
  .latarbelakang h2{
      text-align: center;
      font-size: 80px;
      color: rgb(232, 255, 255);
  }
  .latarbelakang p{
      font-size: 20px;
      margin-left: 10px;
      margin-top: 9px;
      position: relative;
      color: rgb(255, 255, 255);
  }
  .latarbelakang li{
      margin-left: 10px;
      font-size: 20px;
      color: rgb(255, 255, 255);
  }
  .alternatif{
    background-color: rgb(28, 28, 133);
      width: 510px;
      margin-left: 850px;
      border-radius: 13px;
      margin-top: -708px;
      position: relative;
  }
  .alternatif h2{
    text-align: center;
    font-size: 70px;
    color: rgb(232, 255, 255);
  }
  .alternatif p{
    font-size: 20px;
      margin-left: 10px;
      margin-top: 9px;
      position: relative;
      color: rgb(255, 255, 255);
  }
  .next{
      background-color: rgb(129, 129, 129);
      width: 280px;
      border-radius: 9px;
      margin-left:540px;
      position: relative;
      margin-top: 400px;  }
  .next a{
      font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 5px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .next a:hover{
      color: rgb(0, 0, 0);
  }
  .penjelasanproduk{
    background-color: rgb(28, 28, 133);
      width: 410px;
      margin-left: 30px;
      border-radius: 13px;
      margin-top: 10px;
      position: relative;
      box-shadow: 3px 4px 3px;
  }
  .penjelasanproduk h2{
    text-align: center;
    font-size: 70px;
    color: rgb(232, 255, 255);
  }
  .penjelasanproduk p{
    font-size: 34px;
    margin-left: 10px;
    margin-top: 9px;
    position: relative;
    color: rgb(255, 255, 255);
    text-align:start;
  }
  .rancanganproduk{
    background-color: rgb(28, 28, 133);
      width: 410px;
      margin-left: 490px;
      border-radius: 13px;
      margin-top: 10px;
      position: relative;
      box-shadow: 3px 4px 3px;
      margin-top: -680px;
      
  }
  .rancanganproduk h2{
    text-align: center;
    font-size: 70px;
    color: rgb(232, 255, 255);
  }
  .rancanganproduk p{
    font-size: 32px;
    margin-left: 10px;
    margin-top: 9px;
    position: relative;
    color: rgb(255, 255, 255);
    text-align:start;
  }
  .carakerja{
    background-color: rgb(28, 28, 133);
      width: 410px;
      margin-left: 970px;
      border-radius: 13px;
      position: relative;
      box-shadow: 3px 4px 3px;
      margin-top: -702px;
  }
  .carakerja h2{
    text-align: center;
    font-size: 83px;
    color: rgb(232, 255, 255);
  }
  .carakerja li{
    font-size: 26.3px;
    margin-left: 10px;
    margin-top: 9px;
    position: relative;
    color: rgb(255, 255, 255);
    text-align:start;
  }
  .harapan{
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    width: 290px;
    height: 44px;
    margin-left: 550px;
  }
  .harapan h2{
    font-size: 40px;
    color:rgb(255, 255, 255) ;
    margin-top:33px;
    text-align: center;
  }
  .harapan1{
    background: rgb(6, 24, 121);
    border-radius: 200px 185px 0px 0px;
    height: 500px;
    width: 400px;
  }
  .harapan1 h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .harapan1 p{
    font-size: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:"Open Sans", sans-serif, Georgia, Times, 'Times New Roman', serif ;
  }
  .harapan2{
    background: rgb(6, 24, 121);
    border-radius: 200px 185px 0px 0px;
    height: 500px;
    width: 400px;
    margin-left: 480px;
    margin-top: -527px;
  }
  .harapan2 h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .harapan2 p{
    font-size: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:"Open Sans", sans-serif, Georgia, Times, 'Times New Roman', serif 
  }
  .harapan3{
    background: rgb(6, 24, 121);
    border-radius: 200px 185px 0px 0px;
    height: 500px;
    width: 400px;
    margin-left: 980px;
    margin-top: -527px;
  }
  .harapan3 h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .harapan3 p{
    font-size: 45px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:"Open Sans", sans-serif, Georgia, Times, 'Times New Roman', serif 
  }
.back{
    background-color: rgb(129, 129, 129);
    width: 280px;
    border-radius: 9px;
    margin-left:540px;
    position: relative;
    margin-top: 100px;   
}
.back a{
    font-size: 20px;
      text-decoration: none;
      color: white;
      margin-left: 5px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.back a:hover{
    color: rgb(0, 0, 0);
}




  
  @media screen and (max-width:576px){
      .body{
           background: rgb(10,1,175);
background: linear-gradient(90deg, rgba(10,1,175,1) 0%, rgba(50,138,187,1) 45%);
overflow-x: hidden;
      }
    
    
       .Kelompok4 h2{
        margin-left: -20px;
       }
      .nama h1{
        font-size: 25px;
    }
    .gambar img{
        width: 300px;
        margin-left: 20px;
    }
    .nama{
        margin-left: -12px;
    }
    .anggota{
        margin-left: 2px;
        width:340px;
    }
    .latarbelakang{
        margin-left: 4px;
        width: 340px;
    }
      .latarbelakang h2{
          font-size:73px;
      }
      
          
    .alternatif{
        margin-left: 4px;
        width: 340px;
        margin-top: 30px;
        height: 700px;
    }
    .alternatif h2{
        font-size: 34px;
    }
    .next{
        margin-left:12px;
        margin-top: 50px;
    }
    .penjelasanproduk{
        margin-left: 20px;
        width:340px;
        margin-left:3px
    }
      .penjelasanproduk h2{
          font-size:50px;
      }
      .penjelasanproduk p{
          font-size:30px;
      }
    .rancanganproduk{
        margin-left: 3px;
        margin-top:  57px;
        width:340px;
    }
      .rancanganproduk h2{
          font-size:50px;
      }
      .rancanganproduk p{
          font-size:30px;
      }
    .carakerja{
        margin-left:  10px;
        margin-top: 57px;
        width:340px;
    }
    .harapan{
        margin-left: 280px;
    }
    .harapan1{
        width: 184px;
        margin-left: 150px;
    }
    .harapan1 p{
        font-size: 30px;
    }
    .harapan2{
        margin-left: 110px;
        width: 184px;
        margin-top:20px;
    }
    .harapan2 p{
        font-size: 28px;
        text-align: center;
    }
    .harapan3{
       width: 184px;
        margin-left: 110px;
        margin-top: 30px;  
    }
    .harapan3 p{
        font-size: 28px;
    }
    .back{
        margin-left:60px;
        margin-top: 10px;
    }
  }


    
  
  

